@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background:
        url('images/sprinkles.png') repeat-y top center fixed,
        radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(253, 236, 229, 0.8) 50%, rgba(253, 236, 229, 1) 100%);
    background-size: auto;
}

@font-face {
    font-family: "Playlist Script";
    src: url('fonts/PlaylistFF/Playlist\ Script.otf');
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Montserrat";
    font-weight: bold;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: blur(2px);
}

.links {
    display: flex;
    gap: 40px;
}

.logo {
    font-family: "Playlist Script";
    color: #4b5fad;
    font-size: 35px;
}

.navi {
    width: 20px;
}

.icons {
    display: flex;
    gap: 20px;
}

.hovering {
    cursor: pointer;
    transition: all 0.2s ease;
}

.hovering:hover {
    color: #4b5fad;
    transform: scale(1.1);
}

.landing {
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px;
    flex-wrap: wrap;
}

.landing img.cake {
    max-width: 600px;
    width: 100%;
    height: auto;
    flex: 1 1 300px;
}


.text1 {
    font-family: 'Libre Bodoni', serif;
    font-size: 45px;
    flex: 1 1 300px;
    text-align: center;
}

@media (max-width: 768px) {
    .text1 {
        font-size: 28px;
    }
}

.favorites {
    background-color: white;
    margin: 100px;
    border-radius: 30px;
    padding: 30px;
}

.tortet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.favorites img.favCakes {
    max-width: 250px;
    width: 100%;
    height: auto;
    flex: 1 1 250px;
    object-fit: cover;
}


.favs {
    font-family: 'Libre Bodoni', serif;
    display: flex;
    justify-content: center;
}

.cakeText {
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
}

.btn {
    border-radius: 90px;
    font-family: "Montserrat";
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    max-width: 150px;
}

.btn:hover {
    color: #4b5fad;
    font-weight: bold;
    transform: scale(1.1);
}

.container {}

.text2 {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 35px;
}

.text3 {
    font-family: 'Montserrat';
    font-weight: 500;
}

.texti {
    display: inline;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

@media (max-width: 768px) {
    .texti {
        font-size: 17px;
    }
}

.divi {
    display: flex;
    justify-content: center;
}

.divi img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .divi {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .divi img {
        width: 100%;
        height: auto;
    }
}

.fotot {
    gap: 5px;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-top: 50px;
}

.fotot img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .tortet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        justify-items: center;
    }

    .favCakes {
        width: 100%;
        max-width: 120px;
    }
}

.child {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 30px;
}

.text4 {
    font-family: 'Libre Bodoni', serif;
}

.text5 {
    font-family: "Montserrat";
    font-weight: 500;
}

.butoni {
    display: flex;
    justify-content: center;
}

.promo {
    display: flex;
    align-items: center;
    background-color: #f7e6e9;
    padding: 40px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

.box2 img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.promotext {
    font-family: "Montserrat";
    font-weight: bold;
}

.promotext1 {
    font-family: "Montserrat";
    font-weight: 500;
    max-width: 70%;
}

.produktet {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    background-color: #c7e8dd;
}

.cupcakeText {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Libre Bodoni', serif;
}

.cupcake-text h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.pro {
    font-size: 16px;
    margin-bottom: 10px;
    opacity: 0.7;

}

.desc {
    font-size: 18px;
    line-height: 1.5;
    max-width: 550px;
}

.cupcakePic {
    flex: 1 1 450px;
    display: flex;
    justify-content: center;
}

.cupcakePic img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.everydayFavs {
    font-family: 'Libre Bodoni', serif;
    padding: 50px;
}

.fotot2 {
    gap: 35px;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-top: 50px;
}

.fotot2 img {
    width: 270px;
    height: auto;
    border-radius: 10px;
}

.card {
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
}

.shopping {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
}

.shopping img.shopCakes {
    max-width: 250px;
    width: 100%;
    height: auto;
    flex: 1 1 250px;
    object-fit: cover;
}

.shopping p {
    font-family: 'Montserrat', serif;
}

@media (max-width : 768px) {
    .shopping {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card img {
        width: 100%;
        height: auto;
    }
}

/* .bg {
    background-image: url('images/bgLogIn.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}


.logIn {
    padding: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(2px);
    border: #4b5fad 2px;
}

.logIn h4 {
    font-family: 'Libre Bodoni', serif;
}

.logIn p {
    font-family: 'Montserrat', serif;
    font-weight: 600;
}

.icons {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: 'Libre Bodoni', serif;
    font-weight: bold;
}

.pp {
    font-family: 'Montserrat', serif;
    font-weight: bold;
} */

.bg {
    background-image: url("images/bgLogIn.webp");
    background-size: cover;
    background-position: center;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.loginCard {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    padding: 40px;
    width: 100%;
    max-width: 380px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.15);
}

.logintxt {
    font-family: 'Libre Bodoni', serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 10px;
    color: #4a2b2b;
    font-weight: 700;
}

.subtitle {
    font-family: 'Libre Bodoni', serif;
    font-size: 14px;
    margin-bottom: 25px;
    color: #5a4a4a;
}

.lbl {
    font-family: 'Libre Bodoni';
    text-align: left;
    font-size: 14px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 18px;
    font-size: 15px;
    outline: none;
}


.forgot {
    font-size: 13px;
    color: #934b74;
    text-decoration: none;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
    font-family: 'Libre Bodoni', serif;
}


.loginBtn {
    width: 100%;
    padding: 14px;
    background: #f5a3c7;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 15px;
    transition: 0.3s;
    font-family: 'Libre Bodoni', serif;
}

.loginBtn:hover {
    transform: scale(1.03);
}

.signup {
    font-size: 14px;
    font-family: 'Libre Bodoni', serif;
}

.signup a {
    color: #934b74;
    font-weight: 600;
    font-family: 'Libre Bodoni', serif;
}

@media (max-width: 768px) {
    .loginCard {
        padding: 30px;
        max-width: 330px;
    }

    .logintxt {
        font-size: 24px;
    }

    input,
    .loginBtn {
        font-size: 14px;
    }
}

.abtUs {
    display: flex;
    flex-direction: column;
}

.abtTxt {
    /* display: flex; */
    padding: 40px;
    font-family: 'Libre Bodoni', serif;
    font-weight: bold;
}

.abtText {
    /* display: flex; */
    padding-left: 40px;
    font-family: 'Montserrat';
}

.site-footer {
    background: #fff;
    padding: 40px 20px 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo1 {
    font-size: 26px;
    text-transform: lowercase;
    text-align: center;
    font-family: "Playlist Script";
    color: #4b5fad;
    font-size: 35px;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 25px;
}

.footer-links p {
    font-size: 14px;
    color: #444;
    cursor: pointer;
    transition: 0.3s;
}

.footer-links p:hover {
    color: #4b5fad;
    transform: translateY(-2px);
}

.site-footer hr {
    width: 80%;
    margin: 20px auto;
    border: none;
    border-top: 1px solid #eee;
}

.pp {
    font-size: 13px;
    color: #999;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
}

.profile-cardi {
    background: white;
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Montserrat';
}

.profile-cardi img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
}

.profile-cardi h2 {
    margin: 0.5rem 0;
    color: #4b5fad;
}

.profile-cardi p {
    margin: 0.2rem 0;
    color: #555;
}

.buttons {
    margin-top: 1rem;
}

.buttons button {
    padding: 0.7rem 1.5rem;
    margin: 0.3rem;
    border: none;
    border-radius: 8px;
    color: #4b5fad;
    color: black;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Montserrat';
}

.buttons button:hover {
    color: #4b5fad;
}

.orders1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
}

.order-cardi {
    background: #ffe0b2;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.order-cardi h3 {
    margin: 0 0 0.5rem 0;
    color: #4b5fad;
    font-family: 'Montserrat';
}

.order-cardi p {
    margin: 0.2rem 0;
    color: #555;
    font-family: 'Montserrat';
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    .profile-card {
        padding: 1.5rem;
    }
} 